@if (user(); as user) {
  <div class="profile-menu-container">
    <button class="avatar-button" (click)="toggleMenu()" title="Account menu">
      @if (user.photoURL) {
        <img [src]="user.photoURL" alt="" class="avatar-image" referrerpolicy="no-referrer" />
      } @else {
        <div class="avatar-initial" [style.backgroundColor]="avatarColor()">
          {{ userInitial() }}
        </div>
      }
    </button>

    @if (menuOpen()) {
      <div class="menu-overlay" (click)="menuOpen.set(false)"></div>
      <div class="menu-dropdown">
        <div class="user-info">
          <div class="display-name">{{ user.displayName }}</div>
          <div class="email-chip">{{ user.email }}</div>
          @if (isAdmin()) {
            <span class="admin-chip">Admin</span>
          } @else {
            <div class="not-admin-note">
              Signed in, but this account has no admin access, so nothing here is editable.
            </div>
          }
        </div>

        @if (isAdmin()) {
          <div class="menu-divider"></div>

          <a class="menu-link" [href]="profileEditHref()" (click)="menuOpen.set(false)">
            <app-icon name="person" width="20px" height="20px"></app-icon>
            Edit landing page
          </a>

          <a class="menu-link" [href]="newConceptHref()" (click)="menuOpen.set(false)">
            <app-icon name="add" width="20px" height="20px"></app-icon>
            New concept
          </a>
        }

        <div class="menu-divider"></div>

        <button class="menu-link logout-button" (click)="logout()">
          <app-icon name="logout" width="20px" height="20px"></app-icon>
          Sign out
        </button>
      </div>
    }
  </div>
}
