@use '../scss_variables' as *;

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  width: 100%;
}

.auth-wait {
  padding: 3em 1em;
  text-align: center;
  color: $text-muted;
}
