<div class="app-container">
  <app-header></app-header>

  <main>
    @switch (currentView()) {
      @case (Views.Home) {
        <app-home></app-home>
      }
      @case (Views.Concepts) {
        <app-concept-gallery></app-concept-gallery>
      }
      @case (Views.ConceptView) {
        <app-concept-view></app-concept-view>
      }
      @case (Views.ConceptNew) {
        @if (isAwaitingAuth()) {
          <div class="auth-wait">Checking your sign-in…</div>
        } @else {
          <app-concept-edit></app-concept-edit>
        }
      }
      @case (Views.ConceptEdit) {
        @if (isAwaitingAuth()) {
          <div class="auth-wait">Checking your sign-in…</div>
        } @else {
          <app-concept-edit></app-concept-edit>
        }
      }
      @case (Views.ProfileEdit) {
        @if (isAwaitingAuth()) {
          <div class="auth-wait">Checking your sign-in…</div>
        } @else {
          <app-profile-edit></app-profile-edit>
        }
      }
      @case (Views.Login) {
        <app-login></app-login>
      }
      @default {
        <app-not-found></app-not-found>
      }
    }
  </main>

  <app-footer></app-footer>
</div>
